<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        </noscript>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
