---
layout: base.njk
title: Nora Top - Software Engineer
description: Landing page for Nora Top
---

<a href="https://www.linkedin.com/in/noratop" target="_blank">
    <div class="main">
        <div class="avatar">
            {% include "avatar.njk" %}
        </div>
        <div class="text-content gray">
            <p>
                <
                <span>no js</span>
                <span class="gold">css only</span>
/>
            </p>
            <p class="click-here gray">
                (click anywhere for a js version of me)
            </p>
        </div>
    </div>
</a>
