$tablet-width: 190px;
$desktop-width: 1024px;

@mixin over-mobile {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin over-tablet {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin sketch($y, $delay) {
  opacity: 0;
  transform: translateY($y);
  animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards;

  &:nth-child(n) {
    animation-delay: $delay;
  }

  &:nth-child(odd) {
    animation-delay: $delay + 0.2s;
  }

  &:nth-child(3n) {
    animation-delay: $delay + 0.4s;
  }

  &:nth-child(3n + 2) {
    animation-delay: $delay + 0.6s;
  }
}
